textarea {
    width:95%;
    max-width:95%;
    height:40%;
    min-height:100px;
}

textarea::-webkit-input-placeholder {
    font-size:18px;
    color:rgb(150,150,150);
}

span {
    display:none;    
}

button {
    -webkit-transform:scale(1.5); 
    margin-bottom:10px;
    margin-left:30px;
}