body {
    text-align:center;
    background:#EBEBEB;
}
textarea {
    width:60%;
    max-width:60%;
    height:25%;
    max-height:35%;
    margin-bottom:2px;
    border: solid 1px #B3B3B3;
}

textarea:focus{
    outline: none;
	
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAyIi8+CiAgPC9yYWRpYWxHcmFkaWVudD4KICA8cmVjdCB4PSItNTAiIHk9Ii01MCIgd2lkdGg9IjEwMSIgaGVpZ2h0PSIxMDEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 20%, rgba(0,0,0,0.02) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.02)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 20%,rgba(0,0,0,0.02) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 20%,rgba(0,0,0,0.02) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 20%,rgba(0,0,0,0.02) 100%);
    background: radial-gradient(center, ellipse cover, rgba(0,0,0,0) 20%,rgba(0,0,0,0.02) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#05000000',GradientType=1 );
}

button {
    margin-bottom:5px;
    margin-top:5px;
}

span {
    position:absolute;
    left:80%;
    color:rgb(90,90,90);
    background:rgb(200,200,200);
    width:20px;
    height:20px;
    margin-left:-5px;
}
@media only screen and (max-device-width: 480px){
    textarea {
        width:98%;
        max-width:98%;
        height:150px;
        max-height:150px;
        margin-bottom:10px;
        font-size:16px;
    }

    textarea::-webkit-input-placeholder {
        font-size:16px;
        color:rgb(150,150,150);
    }

    span {
        display:none;    
    }
    
    button {
        -webkit-transform:scale(1.5); 
        margin-bottom:10px;
        margin-left:30px;
    }   
}
