body {
    text-align:center;    
}
textarea {
    width:60%;
    max-width:60%;
    height:25%;
    margin-bottom:2px;
}

textarea:focus{
	outline: none;
}

button {
    margin-bottom:5px;
    margin-top:5px;
}

span {
    position:absolute;
    left:80%;
    color:rgb(95,95,95);
    background:rgb(240,240,240);
    width:20px;
    height:20px;
    margin-left:-5px;
}
